<form name="signUpForm" class="auth-form" ng-controller="RegController as reg" novalidate>
    <md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column">
        <md-input-container>
            <label>Login</label>
            <input ng-model="reg.user.login">
        </md-input-container>
    </md-content>
    <md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column">
        <md-input-container>
            <label>Password</label>
            <input ng-model="reg.user.password">
        </md-input-container>
    </md-content>
    <md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column">
        <md-input-container>
            <label>Confirm password</label>
            <input ng-model="reg.user.passconfirm">
        </md-input-container>
    </md-content>
    <md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column">
        <md-input-container>
            <label>E-mail</label>
            <input ng-model="reg.user.email">
        </md-input-container>
    </md-content>

    <md-button class="md-raised md-primary" ng-click="reg.singUp()">Sin up</md-button>

    <input type="text" name="password" ng-model="textValue" password/>
    <span ng-show="reg.showPassStrength('week')">Week password!!!</span>
</form>

